.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
  text-align: center; 
}

.socials {
  font-size: 20px; /* Adjust the size of the social icon */
  /* margin-right: 10px;  */
}